/*!*BEM设计模式*!*/
/*模块：没有前缀，多个单词用-链接*/
/*元素：元素在模块之后，可以有多个层级，以_链接*/
/*修饰：某元素或者模块的特别的状态，必须有一个状态名和状态值，用_链接*/



/*导航头*/
.header{
    background-color: #f7f7f7f7;
    border: 1px solid red;
}

.header_wrap{
    height: 80px;
    width: 1200px;
    position: relative;
    border: 1px solid red;
    margin: 0 auto;
}
.header_logo{
    border: 1px solid red;
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-indent: 50px;
    font-size: 20px;
    color: #07111b;
    background: url("../img/logo.png") left center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 20px;
}
.header_nav{
    border: 1px solid red;
    position: absolute;
    right: 20px;
    height: 38px;
    line-height: 38px;
    top: 50%;
    margin-top: -19px;
}
.header_nav-item{
    color: #292f35;
    font-size: 14px;
    display: block;
    height: 38px;
    float: left;
    margin-left: 40px;
}
.header_nav-item:hover{
    color: #f01400;
}

.header_nav-item_status_active{
    color: #f01400;
    border-bottom: 2px solid red;
}

.header_nav-item_custom_button{
    background-color: #000;
    color: #f4f4f5;
    text-align: center;
    width: 90px;
    border-radius: 3px;
}



/*第一屏*/
.screen-1{
    border: 1px solid red;
    height: 800px;
    background:url("../img/bg-screen-1.png") no-repeat center;
    /*背景图片占满*/
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.screen-1_heading{
    border: 1px solid red;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 46px;
    text-align: center;
    padding-top: 152px;
}
.screen-1_heading b{
    color: #f01400;
    font-weight: normal;
}
.screen-1_phone{
    border: 1px solid red;
    width: 1375px;
    height: 305px;
    background:url("../img/screen-1-phone.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -687px;
    bottom: 180px;
    z-index: 2;
}
.screen-1_shadow{
    border: 1px solid red;
    width: 1233px;
    height: 411px;
    background:url("../img/screen-1-shadow.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -616px;
    border-bottom: 180px;
    z-index: 1;
    bottom: 30px;
    opacity: .8;

}

/*第二屏幕*/
.screen-2{
    background-color: #fafafa;
    height: 800px;
    position: relative;
    overflow: hidden;

}
.screen-2_heading{
    border: 1px solid #10ff47;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 46px;
    line-height: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 96px;
}
.screen-2_subheading{
    border: 1px solid #10ff47;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    color: #2c3137;
    text-align: center;
    padding-top: 25px;
}
.screen-2_phone{
    border: 1px solid #10ff47;
    width: 928px;
    height: 873px;
    background:url("../img/bg-screen-2.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -464px;
    bottom: -345px;
    z-index: 2;
}
.screen-2_point{
    border: 1px solid red;
    width: 108px;
    padding-right: 112px;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    color: #4d555d;
    background: url("../img/icon-point-right.png") no-repeat center ;
    z-index:3;
    position: absolute;
}

.screen-2_point_custom_right{
    padding: 0 0 0 112px;
    background: url("../img/icon-point-left.png") no-repeat center left;
}
.screen-2_point_i_1{
    top: 150px;
    left: -100px;
}

.screen-2_point_i_2{
    top: 50px;
    right: 130px;
}

.screen-2_point_i_3{
    top: 300px;
    right: 80px;
}


/*第三屏*/
.screen-3 {
    color: rgb(255,255,255);
    height: 800px;
    background-color: #a71316;
}

.screen-3_wrap {
    border: 1px solid blue;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.screen-3_heading {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 580px;
    font-size: 36px;
}
.screen-3_subheading {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 580px;
    font-size: 16px;
}

.screen-3_phone{
    width: 729px;
    height: 900px;
    position: absolute;
    top: 200px;
    left: 465px;
    background: url(../img/bg-screen-3.png) no-repeat;
}

/*四个小方块*/
.screen-3_features{
    border: 1px solid blue;
    position: relative;
    top: 300px;
    left: 0;
    width: 330px;
    height: 280px;
}
.screen-3_features_item{
    width: 140px;
    height: 120px;
    border: 1px solid #cb7173;
    border-radius: 5px;
    float: left;
    margin: 0 20px 20px 0;
    text-align: center;
    color: #ffff;

}

.screen-3_features_item_number{
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    padding: 30px 0 8px ;
}
.screen-3_features_item_desc{
    height: 14px;
    font-size: 14px;
    line-height: 14px;
}

/*第四屏*/
.screen-4 {
    background-color: #ffffff;
    height: 800px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.screen-4_wrap {
    border: 1px solid black;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    position: relative;

}

.screen-4_heading {
    border: 1px solid black;
    font-size: 46px;
    line-height: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 135px;

}
.screen-4_subheading {
    border: 1px solid black;
    font-size: 14px;
    color: #464a4f;
    text-align: center;
    padding-top: 29px;
    line-height: 28px;
}

/*若干个手机图标*/
.screen-4_type{
    border: 1px solid #5dff49;
    width: 1260px;
    height: 270px;
    position: absolute;
    top: 300px;
    margin-left: 20px;
}
.screen-4_type_item{
    border: 1px solid black;
    width: 220px;
    height: 280px;
    margin-right: 90px;
    float: left;
    position: relative;
    text-align: center;
    background-size: cover;
}
.screen-4_type_item_color{
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 24px;
    color: #2c3238;
    position: absolute;
    bottom: -44px;
}

.screen-4_type_item_storage{
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 15px;
    position: absolute;
    bottom: -80px;
}
.screen-4_type_item_i_1{
    background: url("../img/phone-1.png") no-repeat left top;
}
.screen-4_type_item_i_2{
    background: url("../img/phone-2.png") no-repeat left top;
}
.screen-4_type_item_i_3{
    background: url("../img/phone-3.png") no-repeat left top;
 }
.screen-4_type_item_i_4{
    background: url("../img/phone-4.png") no-repeat left top;
}




/*第五屏*/
.screen-5{
    height: 800px;
    background-color: #d9dde1;
    position: relative;
    overflow: hidden;
}

.screen-5_bg{
    border: 1px solid #002bff;
    background: url("../img/bg-screen-5.png") no-repeat center bottom;
    height: 433px;
    width: 1920px;
    position: absolute;
    bottom: -80px;
    left: 50%;
    margin-left: -960px;
    /*使背景图片缩放*/
    background-size: contain;
}
.screen-5_heading {
    border: 1px solid #000000;
    font-size: 46px;
    line-height: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 135px;

}
.screen-5_subheading {
    border: 1px solid #5dff49;
    font-size: 14px;
    color: #464a4f;
    text-align: center;
    padding-top: 29px;
    line-height: 28px;
}



/*第六屏*/
.screen-buy{
    height: 320px;
    line-height: 320px;
    position: relative;
    overflow: hidden;
    background: red url("../img/bg-screen-buy.png") center no-repeat;
    text-align: center;
}
.screen-buy_button{
    display: inline-block;
    height: 80px;
    width: 240px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    background-color: #f01414;
    border-radius: 5px;
    transition: all .5s;
}
.screen-buy_button:hover{
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
}



.footer{
    color: #fff;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 12px;
    background-color: #07111b;
}